.Content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

@media (min-width: 400px) and (min-height: 650px) {
    .Content {
        flex-flow: row;
        padding: 40px;
    }
}