.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    font-weight: 400;
    font-size: 1rem;
    padding: 5px;
    width: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    margin: 7px;
    font-size: large;
    font-weight: bold;
    width: 8rem;
}

.Label .UnitPrice {
    font-weight: 100;
    font-size: .9rem;
}

@media (min-height: 500px) {
    .Label {
        width: 10rem;
    }
}

.TextLabel {
    border: none;
    height: 32px;
    width: 30px;
    background-color: #f8f9fa;
    text-align: center;
}

.BuildControl .Less {  
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
    border-radius: .3rem 0 0 .3rem;
}

.BuildControl .More {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
    border-radius: 0 .3rem .3rem 0;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #c82333;
    border-color: #bd2130;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #218838;
    border-color: #1e7e34;
}