.Logo {
    height: 80%;
    margin-bottom: 5px;
}

.Logo img {
    height: 100%;
}

.Background {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    margin-right: 10px;
}

.Logo span {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}