.Content {
    margin-top: 8.5vh;
}

.Layout {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media (min-height: 600px) {
    .Layout {
        height: 91.5vh;
    }
}